/* Reset Basic styles */
.title-editor .ql-container,
.content-editor .ql-container {
  border: none !important;
  font-family: inherit;
}

.title-editor .ql-editor,
.content-editor .ql-editor {
  padding: 0;
}

.title-editor .ql-editor::before {
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--color-gray-300);
  left: 0;
}

.title-editor .ql-editor {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
}

.content-editor .ql-editor {
  font-size: 1.1em;
  line-height: 1.6;
}

.content-editor .ql-editor::before {
  color: var(--color-gray-300);
  left: 0;
}

.content-editor .ql-toolbar {
  border: none !important;
  padding: 0;
  margin-bottom: 1.5rem;
}

/* Add Custom styles */
.article-editor-container {
  border: 1px solid var(--color-gray-200);
  border-radius: 5px;
  width: 100%;
  max-width: 820px;
  margin: 40px auto;
  overflow: hidden;
}

.article-separator {
  border: 0;
  border-top: 1px solid var(--color-gray-200);
  margin: 16px 0;
}

#toolbar-mount-point .ql-toolbar {
  border: 0px;
  background-color: var(--color-gray-100);
}
