/* Reset Basic styles */
.title-editor .ql-container,
.content-editor .ql-container {
  border: none !important;
  font-family: inherit;
}

.title-editor .ql-editor,
.content-editor .ql-editor {
  padding: 0;
}

.title-editor .ql-editor::before {
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--color-gray-300);
  left: 0;
}

.title-editor .ql-editor {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
}

.content-editor .ql-editor {
  font-size: 1.1em;
  line-height: 1.6;
}

.content-editor .ql-editor::before {
  color: var(--color-gray-300);
  left: 0;
}

.content-editor .ql-toolbar {
  border: none !important;
  padding: 0;
  margin-bottom: 1.5rem;
}

/* Add Custom styles */
.article-editor-container {
  border: 1px solid var(--color-gray-200);
  border-radius: 5px;
  width: 100%;
  max-width: 680px;
  margin: 40px auto;
  /* overflow: hidden; */
}

.article-separator {
  border: 0;
  border-top: 1px solid var(--color-gray-200);
  margin: 16px 0;
}

#toolbar-mount-point .ql-toolbar {
  border: 0px;
  background-color: var(--color-gray-100);
}

/* Override Default styles */
.article-editor-container .ql-toolbar .ql-picker-label {
  padding-left: 4px;
  border: 0px;
}

.article-editor-container .ql-picker.ql-header,
.article-editor-container .ql-picker.ql-size {
  min-width: 74px;
  width: auto;
}

.article-editor-container .ql-picker.ql-header {
  min-width: 60px;
}

.article-editor-container
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-label[data-value='1']::before,
.article-editor-container
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value='1']::before {
  content: '제목1';
}

.article-editor-container
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-label[data-value='2']::before,
.article-editor-container
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value='2']::before {
  content: '제목2';
}

.article-editor-container
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-label[data-value='3']::before,
.article-editor-container
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value='3']::before {
  content: '제목3';
}

.article-editor-container
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-label::before,
.article-editor-container
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item::before {
  content: '본문';
}

.article-editor-container
  .ql-snow
  .ql-picker.ql-size
  .ql-picker-label[data-value='small']::before {
  content: 'small';
}
.article-editor-container
  .ql-snow
  .ql-picker.ql-size
  .ql-picker-label[data-value='large']::before {
  content: 'large';
}

.article-editor-container
  .ql-snow
  .ql-picker.ql-size
  .ql-picker-label[data-value='huge']::before {
  content: 'huge';
}

.article-editor-container .ql-snow .ql-picker.ql-size .ql-picker-label::before {
  content: 'normal';
}

/* Override image, video, link, formula Button Group styles */
.article-editor-container .ql-toolbar.ql-snow .ql-formats {
  position: relative;
  margin-right: auto;
  display: inline-flex;
  flex-wrap: wrap;
}

/* Override image, video, link, formula Button styles */
.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-image,
.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-video,
.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-link,
.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-formula {
  position: relative;
  width: 48px;
}

.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-video {
  width: 58px;
}

.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-image::after,
.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-video::after,
.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-link::after,
.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-formula::after {
  position: absolute;
  right: 0;
  top: 2px;
  word-break: keep-all;
  font-size: 13px;
  color: #777;
}

.article-editor-container
  .ql-toolbar.ql-snow
  .ql-formats
  .ql-image:hover::after,
.article-editor-container
  .ql-toolbar.ql-snow
  .ql-formats
  .ql-video:hover::after,
.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-link:hover::after,
.article-editor-container
  .ql-toolbar.ql-snow
  .ql-formats
  .ql-formula:hover::after,
.article-editor-container
  .ql-toolbar.ql-snow
  .ql-formats
  .ql-image.ql-active::after,
.article-editor-container
  .ql-toolbar.ql-snow
  .ql-formats
  .ql-video.ql-active::after,
.article-editor-container
  .ql-toolbar.ql-snow
  .ql-formats
  .ql-link.ql-active::after,
.article-editor-container
  .ql-toolbar.ql-snow
  .ql-formats
  .ql-formula.ql-active::after {
  color: #1597e7;
  transition: all 200ms;
}

.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-image::after {
  content: '사진';
}

.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-video::after {
  content: '동영상';
}

.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-link::after {
  content: '링크';
}

.article-editor-container .ql-toolbar.ql-snow .ql-formats .ql-formula::after {
  content: '수식';
}

/* Overrides Icon stroke & color */
.article-editor-container .ql-snow .ql-stroke {
  stroke: var(--color-gray-800);
  stroke-width: 1px;
}

.article-editor-container .ql-picker-label .ql-stroke,
.article-editor-container .ql-snow .ql-bold .ql-stroke {
  stroke-width: 2px;
}

.article-editor-container .ql-header.ql-picker .ql-picker-label svg,
.article-editor-container .ql-size.ql-picker .ql-picker-label svg {
  display: none;
}

.article-editor-container
  .ql-header.ql-picker.ql-expanded
  .ql-picker-label::after,
.article-editor-container
  .ql-size.ql-picker.ql-expanded
  .ql-picker-label::after {
  transform: rotate(180deg);
}

.article-editor-container .ql-header.ql-picker .ql-picker-label::after,
.article-editor-container .ql-size.ql-picker .ql-picker-label::after {
  content: url('../assets/icons/arrow-down.svg');
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  font-size: 13px;
  transition: all 300ms;
}

/* Override Primary Colors */
.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #1597e7;
  transition: all 200ms;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: #1597e7;
  transition: all 200ms;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #1597e7;
  transition: all 200ms;
}
